:root {
  --color-bg: #1c1c1e;
  --color-tooltip-bg: #2a2a2ae5;
  --color-tooltip-bg-mb: #2a2a2af2;
  --color-tooltip-border: #747474;
  --color-radio-bg: #dddddd;
  --color-radio-checked: #676767;
  --color-radio-title: #adadad;
  --color-title: #aeac7e;
  --color-points: #f8aa31;
  --color-input-text: #a19d72;
  --range-track: #1d1d1f;
  --color-gray-light: #b9b9b9;
  --color-gray-dark: #454540;
  --color-gray-dark-hover: #565654;
  --color-gray-dark-active: #3a3a35;
  --color-cream: #f9f5e1;
  --color-white: #ffffff;

  --gradient-range-track: linear-gradient(to bottom, #ffd100, #997d00);
  --gradient-range-track-wrapper: linear-gradient(to bottom, #3f3f3f, #2a2a2a);
  --gradient-range-track-wrapper-border: linear-gradient(
    to bottom,
    #2a2a2a,
    #3f3f3f
  );
  --gradient-range-bg: linear-gradient(to bottom, #262626, #303030);
  --gradient-range-boreder-bg: linear-gradient(to bottom, #727272, #252525);
  --gradient-range-boreder-bg-mask:
    linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  --gradient-wrapper-bg: linear-gradient(to bottom, #4f4f4f, #313131);
  --gradient-input: linear-gradient(to bottom, #4d4a3d, #6e653f);
  --gradient-divider: linear-gradient(
    90deg,
    #66666600 0%,
    #666666 20%,
    #666666 50%,
    #666666 80%,
    #66666600 100%
  );

  --size-radio: 18px;
  --size-radio-inner: 10px;
  --size-thumb-width: 43px;
  --size-thumb-height: 44px;
  --size-points-font: 56px;

  --number-spacing-1: 1px;
  --number-spacing-4: 4px;
  --number-spacing-8: 8px;
  --number-spacing-10: 10px;
  --number-spacing-18: 18px;
  --number-spacing-20: 20px;
  --number-spacing-22: 22px;
  --number-spacing-28: 28px;
  --number-spacing-30: 30px;
  --number-spacing-32: 32px;
  --number-spacing-34: 34px;
  --number-spacing-36: 36px;
  --number-spacing-38: 38px;
  --number-spacing-40: 40px;
  --number-spacing-48: 48px;
  --number-spacing-80: 80px;

  --number-radius-1: 1px;
  --number-radius-3: 3px;
  --number-radius-4: 4px;
  --number-radius-5: 5px;
  --number-radius-10: 10px;
  --number-radius-14: 14px;

  --number-size-1: 1px;
  --number-size-2: 2px;
  --number-size-5: 5px;
  --number-size-6: 6px;
  --number-size-10: 10px;
  --number-size-16: 16px;
  --number-size-18: 18px;
  --number-size-20: 20px;
  --number-size-32: 32px;
  --number-size-36: 36px;
  --number-size-44: 44px;
  --number-size-46: 46px;
  --number-size-48: 48px;
  --number-size-66: 66x;

  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-22: 22px;
  --font-size-28: 28px;
  --font-size-34: 34px;
  --font-size-40: 40px;
  --font-size-56: 56px;

  --font-weight-400: 400;
  --font-weight-700: 700;
}

body {
  font-family: Arial, sans-serif;
  line-height: 100%;
  background: var(--color-bg);
  padding: var(--number-spacing-20);
  max-width: 920px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.widget-title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  color: var(--color-white);
  letter-spacing: 0;
}

#cards {
  margin-top: var(--number-spacing-80);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scroll-to-top {
  position: fixed;
  bottom: var(--number-spacing-40);
  right: var(--number-spacing-40);
  width: var(--number-size-44);
  height: var(--number-size-44);
  cursor: pointer;
  background-color: var(--color-gray-dark);
  border: none;
  border-radius: var(--number-radius-4);

  background-image: url('../../public-files/icons/arrow-top.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

.scroll-to-top:active {
  background-color: var(--color-gray-dark-active);
}

.scroll-to-top:hover {
  background-color: var(--color-gray-dark-hover);
}

@media (max-width: 767px) {
  #cards {
    justify-content: center;
    margin-top: var(--number-spacing-34);
  }

  .scroll-to-top {
    bottom: var(--number-spacing-20);
    right: var(--number-spacing-20);
    width: var(--number-size-36);
    height: var(--number-size-36);
  }
}
