.tooltip {
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(6px);
  background: var(--color-tooltip-bg);
  padding: var(--number-spacing-32) var(--number-spacing-40);
  border: var(--number-radius-1) solid var(--color-tooltip-border);
  opacity: 0;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.tooltip-header {
  display: none;
}

.form-wrapper {
  display: flex;
}

.configuration {
  display: flex;
  flex-direction: column;
  border: none;
  gap: var(--number-spacing-20);
  margin-left: 0;
  padding-left: 0;

  font-size: var(--font-size-18);
  font-weight: var(--font-weight-400);
  color: var(--color-radio-title);
}

.radio {
  display: flex;
  align-items: center;
  gap: var(--number-spacing-8);
  cursor: pointer;
}

.radio input {
  display: none;
}

.custom-radio {
  width: var(--number-size-18);
  height: var(--number-size-18);
  position: relative;
  background-color: var(--color-radio-bg);
  border-radius: var(--number-radius-10);
}

.radio input:checked + .custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--number-size-10);
  height: var(--number-size-10);
  background-color: var(--color-radio-checked);
  border-radius: var(--number-radius-10);
}

.title {
  color: var(--color-title);
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-700);
  margin-bottom: var(--number-spacing-22);
}

.range-input {
  display: flex;
  color: var(--color-title);
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-700);
}

.experience {
  border: none;
  margin-top: var(--number-spacing-38);
  margin-left: 0;
  padding: 0;
}

.range-wrapper {
  padding: var(--number-spacing-20) var(--number-spacing-22);
  position: relative;
  border: var(--number-size-1);
  border-radius: var(--number-radius-4);
  background-image: var(--gradient-wrapper-bg);
}

.range-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--number-spacing-1);
  border-radius: var(--number-radius-4);
  background: var(--gradient-range-boreder-bg);
  -webkit-mask: var(--gradient-range-boreder-bg-mask);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.custom-range {
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  background: var(--gradient-range-bg);
  width: 345px;
  border-radius: var(--number-radius-14);
  border: var(--number-size-1);
  border-image: var(--gradient-range-track-wrapper);
  padding: var(--number-spacing-4);
  position: relative;
}

.custom-range::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--number-spacing-1);
  border-radius: var(--number-radius-14);
  background: var(--gradient-range-track-wrapper-border);
  -webkit-mask: var(--gradient-range-boreder-bg-mask);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.custom-range::-webkit-slider-runnable-track {
  height: --number-size-5;
  background:
    var(--gradient-range-track) no-repeat,
    var(--range-track);
  background-size: var(--value, 50%) 100%;
  border-radius: var(--number-radius-5);
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--number-size-44);
  height: var(--number-size-44);
  background: url('../../../../public-files/images/slider/slider-thumb.png')
    no-repeat center / contain;
  cursor: pointer;
  position: relative;
  margin-top: -19px;
}

.custom-range::-moz-range-track {
  height: var(--number-size-6);
  background:
    var(--gradient-range-track) no-repeat,
    var(--range-track);
  background-size: var(--value, 50%) 100%;
  border-radius: var(--number-radius-3);
}

.custom-range::-moz-range-thumb {
  width: var(--number-size-44);
  height: var(--number-size-44);
  background: url('../../../../public-files/images/slider/slider-thumb.png')
    no-repeat center / contain;
  cursor: pointer;
  border: none;
}

.star-icon {
  width: var(--number-size-66);
  height: var(--number-size-66);
}
.calculated-points {
  display: flex;
  gap: var(--number-spacing-48);
  width: 208px;
  justify-content: space-between;
  align-items: center;
}

.calculated-points .points {
  font-size: var(--font-size-56);
  font-weight: var(--font-weight-700);
  color: var(--color-points);
}
.custom-input {
  justify-self: flex-end;
  background:
    url('../../../../public-files/images/text-input/background.png') no-repeat
      center,
    var(--gradient-input);
  width: 128px;
  height: 58px;

  font-size: var(--font-size-34);
  color: var(--color-input-text);
  text-align: right;
  padding-right: var(--number-spacing-18);
  box-sizing: border-box;

  border: var(--number-spacing-4) solid #000000;
  border-radius: var(--number-radius-4);
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.points.pulse {
  animation: pulseAnim 0.4s ease;
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
    color: #fff;
  }
  100% {
    transform: scale(1);
  }
}

.tooltip-arrow {
  background-image: url('../../../../public-files/icons/trngl.svg');
  position: absolute;
  width: var(--number-size-48);
  height: var(--number-size-32);
}

.tooltip[data-position='top'] .tooltip-arrow {
  bottom: -32px;
  transform: rotate(180deg);
}

.tooltip[data-position='bottom'] .tooltip-arrow {
  top: -32px;
}

@media (max-width: 767px) {
  .tooltip-arrow {
    display: none;
  }
  .tooltip {
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background: var(--color-tooltip-bg-mb);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
  .form-wrapper {
    flex-direction: column;
    align-items: center;
    padding: var(--number-spacing-30);
  }
  .configuration {
    flex-direction: row;
  }
  .radio {
    flex-direction: column;
  }
  .title {
    text-align: center;
    font-size: var(--font-size-22);
  }
  .experience {
    display: flex;
    justify-content: center;
  }
  .custom-range {
    width: 207px;
  }
  .right-column {
    margin-top: var(--number-spacing-36);
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--number-spacing-32);
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .divider {
    width: 100%;
    margin-top: var(--number-spacing-28);
    border-top: var(--number-size-1) solid;
    border-image: var(--gradient-divider) 1;
  }
  .calculated-points {
    justify-content: center;
    gap: var(--number-spacing-32);
  }
  .calculated-points .points {
    font-size: var(--font-size-40);
  }

  .star-icon {
    width: var(--number-size-46);
    height: var(--number-size-46);
  }
  .tooltip-header {
    display: flex;
    justify-content: space-between;
    padding: var(--number-spacing-20);
  }
  .tooltip-header-title {
    font-size: var(--font-size-28);
    margin: 0;
    color: var(--color-gray-light);
  }

  .close-button {
    width: var(--number-size-36);
    height: var(--number-size-36);
    padding: var(--number-spacing-8);
    border: none;
    background-color: var(--color-gray-dark);
    border-radius: var(--number-radius-4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.2s ease;
  }

  .close-button:active {
    background-color: var(--color-gray-dark-active);
  }

  .close-button::before,
  .close-button::after {
    content: '';
    position: absolute;
    width: var(--number-size-16);
    height: var(--number-size-2);
    background-color: var(--color-cream);
    border-radius: var(--number-radius-1);
  }

  .close-button::before {
    transform: rotate(45deg);
  }

  .close-button::after {
    transform: rotate(-45deg);
  }
}
